body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1000px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:50px;
  top:95px;
  width:510px;
  height:43px;
  color:#000000;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:511px;
  height:44px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:90px;
  top:170px;
  width:820px;
  height:200px;
  color:#000000;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:821px;
  height:201px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:820px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:50px;
  top:420px;
  width:510px;
  height:43px;
  color:#000000;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:511px;
  height:44px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:90px;
  top:550px;
  width:300px;
  height:230px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:231px;
}
#u7 {
  position:absolute;
  left:2px;
  top:107px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:90px;
  top:505px;
  width:600px;
  height:34px;
  color:#000000;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:601px;
  height:35px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:90px;
  top:810px;
  width:300px;
  height:171px;
  color:#000000;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:172px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:610px;
  top:545px;
  width:300px;
  height:230px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:231px;
}
#u13 {
  position:absolute;
  left:2px;
  top:107px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:610px;
  top:500px;
  width:280px;
  height:34px;
  color:#000000;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:35px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:610px;
  top:805px;
  width:300px;
  height:171px;
  color:#000000;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:172px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:0px;
  top:1290px;
  width:1000px;
  height:290px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1001px;
  height:291px;
}
#u19 {
  position:absolute;
  left:2px;
  top:137px;
  width:996px;
  visibility:hidden;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:90px;
  top:1319px;
  width:870px;
  height:133px;
  color:#000000;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:871px;
  height:134px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:870px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:50px;
  top:1490px;
  width:900px;
  height:10px;
}
#u22_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u22_end {
  position:absolute;
  left:891px;
  top:-5px;
  width:14px;
  height:20px;
}
#u22_line {
  position:absolute;
  left:0px;
  top:5px;
  width:900px;
  height:1px;
}
#u23 {
  position:absolute;
  left:90px;
  top:1510px;
  width:660px;
  height:19px;
  font-family:'Cambria Regular', 'Cambria';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:661px;
  height:20px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:660px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:0px;
  top:1650px;
  width:50px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u26 {
  position:fixed;
  left:50%;
  margin-left:-475px;
  top:0px;
  width:951px;
  height:51px;
  overflow:hidden;
}
#u26_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:951px;
  height:51px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(0, 51, 102, 1);
  background-image:none;
}
#u26_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:1980px;
  height:50px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1981px;
  height:51px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:1980px;
  visibility:hidden;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:400px;
  top:10px;
  width:100px;
  height:40px;
  font-family:'Thonburi Regular', 'Thonburi';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:41px;
}
#u30 {
  position:absolute;
  left:2px;
  top:9px;
  width:96px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:249px;
  top:10px;
  width:101px;
  height:40px;
  font-family:'Thonburi Regular', 'Thonburi';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:41px;
}
#u32 {
  position:absolute;
  left:2px;
  top:9px;
  width:97px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:550px;
  top:10px;
  width:100px;
  height:40px;
  font-family:'Thonburi Regular', 'Thonburi';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#00FFFF;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:41px;
}
#u34 {
  position:absolute;
  left:2px;
  top:9px;
  width:96px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:0px;
  top:10px;
  width:108px;
  height:40px;
  font-family:'Axure Handwriting Regular', 'Axure Handwriting';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:41px;
}
#u36 {
  position:absolute;
  left:2px;
  top:8px;
  width:104px;
  word-wrap:break-word;
}
